@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
    
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: wrap;
    width: 100vw; 
    height: 10vh;

}
.buttons{
    width: 20vw;
    height: 10vh;
    z-index: 10;
}
.back{
    top:2vw;
    left: 4vw;
    font-size: 30px;
    /* border-radius: 50%; */
    border: 0px;
    background-color: white;
    position: relative;
    cursor: pointer;
}
.graph_title{
    width: 100vw;
    height: 10vh;
    position: absolute;

}
h1{
   text-align: center;
}

#curve_chart{
    width: 100vw; 
    height: 70vh;
    /* border: 1px solid black; */
}

.add{
    position: absolute;
    bottom: 6vw;
    right: 15vw;
    border:0px;
    background-color: white;
    cursor: pointer;
}

ion-icon {
    font-size: 64px;
}

