@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    animation: image 10s infinite alternate;
    animation:image 10s infinite alternate;
    animation:image 10s infinite alternate;
}
footer{
    position: absolute;
    width:100%;
    background: #3586ff;
    min-height: 100px;
}
footer .wave
{
    position: absolute;
    top:-100px;
    left:0;
    width: 100%;
    height:100px;
    background: url(wave.png);
    background-size:  1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 0.9;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
.card
{
    top: -260px;
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    transition: 0.5s;

    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card .popuptext{

    visibility: hidden;
    width: 200px;
    z-index: 10;
    top: 10%;
    background-color: #555;
    color: #fff;
    left: 45%;
    position: absolute;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    margin-left: -80px; 

}
 .card .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.card .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 

.card #circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.card #circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #AEE2FF;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover #circle:before
{
    clip-path: circle(200px at center);
}

.card img
{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%,50%);
    height: 150px;
    pointer-events: none;
    transition: 0.5s;
}

#backtree #tree1
{
    position:absolute;
    z-index: -100;
    bottom: 15vh;
    right: 3vh;
}
#backtree #tree2
{
    position:absolute;
    z-index: -100;
    bottom: 15vh;
    left: 10vh;
}
.card #curveChart
{
    visibility: hidden;
}
.card:hover #curveChart
{
    visibility: visible;
}
.card:hover img
{
    top: 120%;
    visibility: hidden;
    opacity: 0;
}

.card #percent{
    position:relative;
    width: 50%;
    left: 0%;
    /* padding: 20px 20px 10px 20px; */
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    font-size: 70px;
    color: #2F58CD;
    
}

.card:hover #percent
{
    left: 90px; 
    opacity: 1;
    visibility: visible;
}

.bg img
{
    position: absolute;
    height:360px; 
    width:360px;
    /* vertical-align: bottom; */
    z-index: -1;
    align-items: flex-end;
}
.bg2
{
    position: absolute;
    height:360px; 
    width:360px;
    vertical-align: bottom;
    z-index: -1;
    text-align: left;
}

@keyframes image{
    0%{
background-color:#C9EBFF;
}
25%{
    background-color:#E5DE44;
}
50%{
    background-color:#EF810E;
}
75%{

    background-color:#053752;
}
100%{
    background-color:#1D267D;
    }
} 

section{
    position:absolute;
    width:100%;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
}

section .set
{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    pointer-events: none;
}

section .set div
{
    position: absolute;
    display: block;
}

section .set div:nth-child(1)
{
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
section .set div:nth-child(2)
{
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(3)
{
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
section .set div:nth-child(4)
{
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
section .set div:nth-child(5)
{
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
section .set div:nth-child(6)
{
    left: 0%;
    animation: animate 12s linear infinite;
}
section .set div:nth-child(7)
{
    left: 15%;
    animation: animate 14s linear infinite;
}
section .set div:nth-child(8)
{
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translateX(-20px) rotate(45deg);
    }
    40%
    {
        transform: translateX(-20px) rotate(90deg);
    }
    60%
    {
        transform: translateX(20px) rotate(180deg);
    }
    80%
    {
        transform: translateX(-20px) rotate(180deg);
    }
    100%
    {
        top:110%;
        transform: translateX(-20px) rotate(225deg);
    }
}